.android-small {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.android-small .div {
  background-color: #ffffff;
  width: 360px;
  height: 640px;
  position: relative;
}

.android-small .text-wrapper {
  position: absolute;
  width: 292px;
  top: 81px;
  left: 30px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #545f70;
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: 30px;
}

.android-small .overlap {
  position: absolute;
  width: 315px;
  height: 41px;
  top: 244px;
  left: 22px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #a6b6d0;
}

.android-small .text-wrapper-2 {
  position: absolute;
  width: 116px;
  top: 4px;
  left: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #a6b6d0;
  font-size: 13px;
  letter-spacing: -0.26px;
  line-height: 30px;
  white-space: nowrap;
}

.android-small .overlap-group {
  position: absolute;
  width: 315px;
  height: 41px;
  top: 185px;
  left: 22px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #a6b6d0;
}

.android-small .text-wrapper-3 {
  position: absolute;
  width: 116px;
  height: 29px;
  top: 290px;
  left: 30px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #8a9ab3;
  font-size: 11px;
  letter-spacing: -0.22px;
  line-height: 30px;
  text-decoration: underline;
  white-space: nowrap;
}

.android-small .group {
  top: 372px;
  position: absolute;
  width: 315px;
  height: 39px;
  left: 23px;
}

.android-small .div-wrapper {
  position: relative;
  width: 313px;
  height: 39px;
  background-color: #8298b9;
  border-radius: 40px;
}

.android-small .text-wrapper-4 {
  position: absolute;
  width: 53px;
  height: 27px;
  top: 6px;
  left: 130px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.34px;
  line-height: 30px;
  white-space: nowrap;
}

.android-small .text-wrapper-5 {
  position: absolute;
  width: 130px;
  height: 29px;
  top: 467px;
  left: 115px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #5f779cab;
  font-size: 11px;
  text-align: center;
  letter-spacing: -0.22px;
  line-height: 30px;
  white-space: nowrap;
}

.android-small .overlap-wrapper {
  top: 510px;
  position: absolute;
  width: 315px;
  height: 39px;
  left: 23px;
}

.android-small .overlap-2 {
  position: relative;
  height: 41px;
  top: -1px;
  left: -1px;
  border-radius: 40px;
  border: 1px solid;
  border-color: #8298b9;
}

.android-small .text-wrapper-6 {
  position: absolute;
  width: 76px;
  height: 27px;
  top: 6px;
  left: 119px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #8298b9;
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.34px;
  line-height: 30px;
  white-space: nowrap;
}
